{{#section 'title'}}
Guasap - Cargando...
{{/section}}

{{#section 'style'}}
<style>
    body {
        background-color: #222;
        font-family: "Roboto";
        font-weight: 300;
    }
</style>
{{/section}}

{{#section 'body'}}
<a href= style="color: #018786; font-size: 30px; text-decoration: none">Descargar version Android</a>
{{/section}}

{{#section 'script'}}
{{/section}}